
.git
.gitignore
.gcloudignore

# Target directory for maven builds
target/archive-tmp
target/classes
target/generated-sources
target/generated-test-sources
target/kotlin-ic
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes

.idea
.mvn
src/
test/
resources/

mvnw
mvnw.cmd
pom.xml
LICENSE
README.md
app.yaml
*.iml

